<h1>New Park</h1>

<form action="/parks/new" method="post">
	<label for="park_name">Park Name:</label>
	<input type="text" name="park[name]" id="park_name"><br>
	<label for="location">Location:</label>
	<input type="text" name="park[location]" id="location"><br>
	<input type="submit" name="submit" value="Create Park">
</form>