<h1>Create new account</h1><br>

<form action="/signup" method="post">
	<label for="username">Username:</label>
	<input type="text" name="owner[username]" id="username"><br>
	<label for="password">Password:</label>
	<input type="text" name="owner[password]" id="password"><br>
	<input type="submit" name="submit" value="Create Account">
</form>