<h1>Parks</h1>

<%@owner.parks.each do |park|%>
	<h2><a href="/parks/<%=park.slug%>"><%=park.name%></a></h2>
	<p>Pets currently at <%=park.name%>: <%=park.pets_linked.join(" ")%></p>
<%end%>
<%if @owner.id == session[:owner_id]%>
	<a href="/parks/new"><button><h1>Create a new park</h1></button></a>
<%end%>
