<h1>Change Username and Password</h1>

<form action="/owners/<%=@owner.id%>/password" method="post">
	<input id="hidden" type="hidden" name="_method" value="patch">
	<label for="username">Username:</label>
	<input type="text" name="user[username]" id="username" value="<%=@owner.username%>"><br>
	<label for="password">New Password:</label>
	<input type="text" name="user[password]" id="password"><br>
	<input type="submit" name="submit" value="Submit">
</form>