<h1>New Pet</h1>

<form action="/pets/new" method="post">
	<label for="pet_name">Pet Name:</label>
	<input type="text" name="pet[name]" id="pet_name"><br>
	<label for="pet_breed">Breed:</label>
	<input type="text" name="pet[breed]" id="pet_breed"><br>
	<label for="pet_color">Color:</label>
	<input type="text" name="pet[color]" id="pet_color"><br>
	<label for="pet_age">Age:</label>
	<input type="text" name="pet[age]" id="pet_age"><br>
	<input type="submit" name="submit" value="Create Pet">
</form>