<h1>Welcome!</h1>

<%if !logged_in?%>
<div>
	<h1><a href="/login">Login</a></h1>
	<h1><a href="/signup">Sign up!</a></h1>
</div>
<%end%>

<div>
	<h1>Owners</h1>
	<h3><%=Owner.array_usernames.join(", ")%></h3>
</div>

<div>
	<h1>Pets</h1>
	<h3><%=Pet.array_names.join(", ")%></h3>
</div>

<div>
	<h1>Parks</h1>
	<h3><%=Park.array_names.join(", ")%></h3>
</div>
